ion-header {
  background: #3a3a3a; // Color de fondo del encabezado
}

ion-toolbar {
  --background: #121212;
}

btn-invite {
  margin-top: 20px;
  padding: 8px;
}

ion-card-subtitle {
  color: #a1a1a1;
}

ion-card-content {
  font-weight: bold;
  color: #a1a1a1;
}

hr {
  background-color: #505050a4;
}

.project-details {
  border-radius: 10px; /* Redondeo en los campos de entrada */
  box-shadow: 0 1px 6px rgba(146, 146, 146, 0.363); /* Sombra en los campos */
}

.list-loan-request {
  border-radius: 10px; /* Redondeo en los campos de entrada */
  box-shadow: 0 1px 6px rgba(146, 146, 146, 0.363); /* Sombra en los campos */
}