ion-header {
  background: #3a3a3a; // Color de fondo del encabezado
}

ion-toolbar {
  --background: #121212;
  color: white;
}

.search-container {
  padding: 20px;

  .custom-searchbar {
    --background: #1E1E1E; // Fondo oscuro para el buscador
    --color: #ffffff; // Color del texto
    --placeholder-color: #aaaaaa; // Color del texto del placeholder
    border-radius: 10px; // Bordes redondeados
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); // Sombra
    margin-bottom: 10px; // Espacio debajo del buscador
  }

  ion-list {
    margin-top: 0; // Eliminar margen superior
  }
}

.send-btn {
  --background: linear-gradient(135deg, #007aff, #00c6ff); /* Gradiente para el botón */
  --color: #ffffff; /* Color del texto */
  border-radius: 10px; /* Bordes redondeados */
  margin-top: 20px;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Sombra del botón */
}