<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dispositivos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div>
    <ion-item *ngFor="let device of devices" (click)="navigateToDetail(device.id)">
      <ion-label>
        <h2>{{ device.description }}</h2>
        <p>Stock: {{ device.quantity }}</p>
        <p>{{ device.status }}</p>
      </ion-label>
      <ion-button slot="end" color="danger" (click)="deleteDevice(device.id); $event.stopPropagation();">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
      <ion-button slot="end" color="warning" (click)="navigateToUpdate(device.id); $event.stopPropagation();">
        <ion-icon name="pencil"></ion-icon>
      </ion-button>
    </ion-item>
  </div>

   <!-- Botón para crear un nuevo proyecto -->
   <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="navigateToCreate()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
