:root {
  @font-face {
    font-family: 'MyCustomFont';
    src: url('../assets/fonts/CascadiaCodePL.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  /* Aplica la fuente personalizada a toda la aplicación */
  --ion-font-family: 'MyCustomFont', sans-serif; // Cambia la familia de fuentes de Ionic

  --ion-color-primary: #b10606; /* Color de fondo del encabezado */
  --ion-color-primary-contrast: white; /* Color del texto en el encabezado */

  /* General Dark Theme Colors */
  --ion-background-color: #1c1c1c; /* Color de fondo oscuro */
  --ion-text-color: #f0f0f0;       /* Color de texto claro */
  --ion-color-primary: #007aff;    /* Color principal (azul) */
  --ion-color-primary-contrast: #ffffff;
  --ion-toolbar-background: #1c1c1c; /* Fondo oscuro para la barra de herramientas */
  --ion-tab-bar-background: #1c1c1c; /* Fondo oscuro para la barra de pestañas */
  --ion-tab-bar-color: #8e8e93;      /* Color de los iconos inactivos en la barra de pestañas */
  --ion-tab-bar-color-selected: #007aff; /* Color de los iconos activos en la barra de pestañas */
  
  /* Customize Tabs */
  --ion-tab-bar-height: 60px; /* Altura personalizada de la barra de pestañas */
  --ion-tab-button-background: transparent;
  --ion-tab-button-color-aXXctive: #007aff; /* Color de icono activo */
  --ion-tab-button-color: #8e8e93;        /* Color de icono inactivo */
  
  /* Customize Icon */
  --ion-icon-size-large: 28px;
  --ion-icon-size-small: 20px;
}